* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  transition: 1s ease;
}
body {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  transition: 0.5s ease;
}
.container {
  transition: 0.5s ease;
  padding: 1.5rem;
  background-color: white;
  width: 500px;
  border-radius: 10px;
}
#author {
  font-size: 1.8rem;
  margin-top: 20px;
}
#author::before {
  content: "- ";
}
button {
  /* ... other styles ... */
  font-size: 1.2rem;
  width: 125px;
  height: 50px;
  border-radius: 5px;
  border: none;
  color: white;
  transition: 0.5s ease;
}

button:hover {
  cursor: pointer;
}
#text,
#author,
.fa-solid {
  transition: color 0.5s ease;
}
.creator {
  color: black;
  font-weight: 300;
}
.buttons a {
  text-decoration: none;
  border-radius: 5px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
}
.buttons {
  margin: 20px 0;
  display: flex;
  align-items: end;
  text-align: center;
  justify-content: space-between;
  gap: 10px;
}
#creator-link {
  color: black;
}
